.header__lang-link {
    list-style: none;   
    text-decoration: none;
    display: flex;
    color: rgba(255, 255, 255, 1);
    padding: 0;
    margin: 0;
    font-family: 'Inter-Regular', 'Arial', sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    padding-bottom: 3px;   /* для пиксель перфектности  */
}

@media screen and (max-width: 767px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}
