.container__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container__title {
        font-size: 44px;
        line-height: 46px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .container__title {
        font-size: 28px;
        line-height: 32px;
        padding: 0 16px 0;
    }
}

@media screen and (max-width: 425px) {
    .container__title {
        font-size: 32px;
        line-height: 35px;
        padding: 0 16px 0;
    }
}


