.url__link {
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgba(255, 255, 255, 1);
    margin: 12px 0 0;
    padding: 0;
}

.url__link:hover {
    opacity: 80%;
}

/* @media screen and (min-width: 768px) and (max-width: 1020px) {
    .url__link {
        font-size: 18px;
        line-height: 22px;
    }
}*/

@media screen and (min-width: 425px) and (max-width: 767px) {
    .url__link {
        padding: 0 16px 0;
    }
} 

@media screen and (max-width: 425px) {
    .url__link {
        padding: 0 16px 0;
    }
} 
