.cover__subtitle {
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 32px auto;
    padding: 0;
    text-align: center;
    max-width: 360px;
    color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;  
        margin: 16px auto;
    }
}

@media screen and (max-width: 425px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;  
        margin: 16px; 
    }
}