.footer__link-item {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    font-family: 'Inter', 'Arial', sans-serif;
    margin-right: 18px;
    transition: opacity 0.5s ease;
}

.footer__link-item:hover {
    opacity: 80%;
}

@media screen and (max-width: 767px) {
    .footer__link-item {
        font-size: 24px;
        line-height: 24px;
        margin: 0 0 32px;
    }
} 