.footer__copyright {
   color: rgba(255, 255, 255, 1);
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0
    ;
}

@media screen and (max-width: 425px) {
    .footer__copyright {
        margin-top: 14px;
    }
} 
