.intro__list-item {
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

@media screen and (max-width: 425px) {
    .intro__list-item {
        width: 288px;
    }  
}