.cover {
    /* border: tomato 2px solid; */
    max-width: 1184px;
    height: 740px;
    background-image: url('../../images/cover-trains.jpg');
    background-size: cover;
    margin: 90px auto 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover {
       height: 640px;
    }
} 

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover {
        height: 480px;
        margin: 60px auto 0;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .cover {
        height: 200px;
        margin: 46px auto 0;
    }
}

@media screen and (max-width: 425px) {
    .cover {
        height: 200px;
        margin: 46px auto 0;
    }
}