.cover__overlay {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    background: rgba(42, 44, 47, .3);
    min-height: 740px;
    transition: opacity 0.5s ease;
}

.cover__overlay:hover {
    background: rgba(42, 44, 47, .8);
}


@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover__overlay {
       min-height: 640px;
    }
} 

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover__overlay {
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__overlay {
        min-height: 200px;
    }
}
