.url__url-heading {
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: rgba(170, 170, 170, 1);
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media screen and (max-width: 767px) {
    .url__url-heading {
        font-size: 12px;
        line-height: 12px;
        padding: 0 16px 0;
    }
}
