.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 48px 40px;
    margin-bottom: 80px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .container {
        gap: 57px 32px;
        margin-bottom: 61px;
    }
} 

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        gap: 48px 28px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .container {
        gap: 32px;
    }
}

@media screen and (max-width: 425px) {
    .container {
        gap: 36px;
        margin-bottom: 20px;
    }
}

