.footer {
    max-width: 1184px;
    margin: 92px auto 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .footer {
        margin: 82px 48px 24px; 
    }
} 

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer {
        margin: 88px 28px 28px;
    }
}

/* @media screen and (min-width: 425px) and (max-width: 767px) {
    .footer {
        
    }
} */

@media screen and (max-width: 425px) {
    .footer {
        margin: 64px 118px 24px 16px;
        width: 186px;
        flex-direction: column;
    }
} 