.container__paragraph {
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin: 0;
    padding: 0;
    margin-bottom: 26px;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container__paragraph {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 28px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .container__paragraph {
        font-size: 16px;
        line-height: 26px;
        padding: 0 16px 0;
    }
}

@media screen and (max-width: 425px) {
    .container__paragraph {
        font-size: 17px;
        line-height: 25px;
        padding: 0 16px 0;
    }
}
